@media (min-width: 320px) and (max-width: 480px){
    header .main-box{
        display: none;
    }
    header .header-mobile{
        display: block;
    }
    header nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        overflow-x: hidden;
        transition: 0.3s;
    }
    header nav .menu .close-menu{
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    header nav .menu ul{
        padding-top: 50px;
    }
    header nav .menu ul li{
        width: 100%;
        padding: 10px 0px;
    }
    header nav .menu ul li a{
        font-size: 15px;
    }

    .banner{
        width: 100%;
        padding: 0px !important;
        display: inline-block !important;
    }
    .banner .left,
    .banner .center,
    .banner .right{
        width: 100%;
    }
    .banner .left img,
    .banner .right img{
        width: 50%;
        margin: 0px;
        padding: 10px !important;
        float: left;
    }
    .banner .center h1{
        font-size: 30px;
    }
    .banner .center h2{
        font-size: 18px;
    }
    .banner .center p{
        font-size: 18px;
    }

    .main-box-text{
        text-align: center;
    }
    .main-box-text .btn a{
        font-size: 12px !important;
    }
    .title{
        width: 90%;
        margin: auto;
    }
    .blog{
        width: 100%;
        padding: 10px !important;
        display: inline-block !important;
    }
    .blog .col-span-4{
        margin: 10px 0px;
    }
    footer .main-box{
        display: inline-block !important;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    header .main-box{
        display: none;
    }
    header .header-mobile{
        display: block;
    }
    header nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        overflow-x: hidden;
        transition: 0.3s;
    }
    header nav .menu .close-menu{
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    header nav .menu ul{
        padding-top: 50px;
    }
    header nav .menu ul li{
        width: 100%;
        padding: 10px 0px;
    }
    header nav .menu ul li a{
        font-size: 15px;
    }

    .banner{
        width: 100%;
        padding: 0px !important;
        display: inline-block !important;
    }
    .banner .left,
    .banner .center,
    .banner .right{
        width: 100%;
    }
    .banner .left img,
    .banner .right img{
        width: 50%;
        margin: 0px;
        padding: 30px !important;
        float: left;
    }
    .banner .center h1{
        font-size: 50px;
    }
    .banner .center h2{
        font-size: 28px;
    }
    .banner .center p{
        font-size: 30px;
    }

    .main-box-text{
        text-align: center;
    }
    .main-box-text .btn a{
        font-size: 12px !important;
    }
    .title{
        width: 90%;
        margin: auto;
    }
    .blog{
        width: 100%;
        padding: 10px !important;
        display: inline-block !important;
    }
    .blog .col-span-4{
        padding: 5px;
        width: 50%;
        float: left;
    }
    .blog .col-span-4 .box h1{
        font-size: 13px;
    }
    footer .main-box{
        display: inline-block !important;
    }
    footer .main-box .col-span-3{
        width: 50%;
        height: 350px;
        float: left;
        padding: 5px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){

    .banner{
        width: 100%;
        padding: 0px !important;
        /* display: inline-block !important; */
    }
    .banner .left,
    .banner .center,
    .banner .right{
        width: 100%;
        display: inline-block !important;
    }
    .banner .left img,
    .banner .right img{
        width: 100%;
        margin: 0px;
        padding: 30px !important;
        float: left;
    }
    .banner .center h1{
        font-size: 30px;
    }
    .banner .center h2{
        font-size: 28px;
    }
    .banner .center p{
        font-size: 30px;
    }

    .main-box-text{
        text-align: center;
    }
    .main-box-text .btn a{
        font-size: 12px !important;
    }
    .title{
        width: 90%;
        margin: auto;
    }
    .blog{
        width: 100%;
        padding: 10px !important;
        display: inline-block !important;
    }
    .blog .col-span-4{
        padding: 5px;
        width: 33.3%;
        float: left;
    }
    .blog .col-span-4 .box h1{
        font-size: 13px;
    }
    footer .main-box{
        display: inline-block !important;
    }
    footer .main-box .col-span-3{
        width: 33.3%;
        height: 350px;
        float: left;
        padding: 5px;
    }
}